<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="speaker"  scope="prototype"
        class="springapp.SpeakEnglish">
        <property name="message" value="Yo whatup?" />
    </bean>

    <bean id="john"
        class="springapp.SpeakEnglish">
        <property name="message" value="Yo whatup?" />
    </bean>

    <!--
    <bean id="bookserver"
          class="org.davisworld.bookstore.server.FileServer">
        <property name="source" value="C:\Projects\Exploration\Spring\src\scripts\books.xml" />
    </bean>

    <bean id="bookserver"
          class="org.davisworld.bookstore.server.SpringDatabaseServer">
        <property name="driver" value="org.hsqldb.jdbcDriver" />
        <property name="url" value="jdbc:hsqldb:hsql://localhost:1701" />
        <property name="user" value="sa" />
        <property name="password" value="" />
    </bean>
    -->



</beans>
